/* 
 Stylesheet for: Paul Ramnora Web - (Vercel.com)

 Created: Mon 12th Sep 2022 13:12 PM GMT
 Updated: Mon 12th Sep 2022 15:24 PM GMT
*/

/* links */
    
a:link{color:blue;text-decoration:none;}
a:hover{color:red;text-decoration:underline;}
a:active{color:yellow;}
a:visited{color:purple;}  

/* html */

html{
 margin:1cm;  
 background-color:black
}
    
/* body */

body{
 background-color:white;
 color:black;
 font-family:monospace,arial,verdana,sans-serif;  
}

/* nav */

nav{
 padding:10px;
 text-align:center;
} 

.clsSelectedIndex{
 font-weight:bold;
 font-style:italic;
 text-transform:uppercase;
} 

/* general */

main, header, footer, h2{
 padding:10px;
}

h2,.clsCopyrightMessage{
  border-radius:10px;
} 

/* header */

header{
 background-color:black;
 color:white;
 text-align:center; 
}  

/* main */
    
main{
}

h2::before{
 content:">> ";
}

h2{
 background-color:black;
 color:white;
 text-align:left;  
}

.clsPara{
 text-indent:1cm; 
}

/* footer */

footer{
 background-color:black;
 color:white;
 text-align:center;
}
    
.clsCopyrightMessage{
 background-color:white;
 color:black; 
 font-weight:bold;
}
    
.clsDateTimeStamp{
 font-style:italic;
 color:red; 
}  
   
